<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>회원가입</h1>

    <div id="stylized" class="myform">
        <form id="form" name="form" method="post" action="/register">
        <h1>회원가입 폼</h1>
        <p>회원가입에 필요한 정보를 입력해주세요.</p>
        <label>ID
        <span class="small">아이디</span>
        </label>
        <input type="text" name="name" id="name" />
        <label>Email
        <span class="small">이메일주소</span>
        </label>
        <input type="text" name="email" id="email" />
        <label>Password
        <span class="small">패스워드</span>
        </label>
        <input type="password" name="password" id="password" />
        <button type="submit">Sign-up</button>
        <div class="spacer"></div>
        </form>
        </div>
    
</body>
</html>